@import '../config/variables';

.comment-chain {
	background: rgba($color-black, 0.1);
	margin-bottom: $sm-spacing;
	padding: $sm-spacing 0;

	p, dl, ol, ul, table {
		margin-bottom: 0.5em;
	}

	.comment-chain--header,
	.comment-chain--footer,
	.comment-chain--body,
	.comment-chain--reply {
		padding: $xs-spacing $sm-spacing;

		@media (min-width: $breakpoint-desktop-min) {
			padding: $xs-spacing #{$base-spacing * 1.5};
		}
	}

	.comment-chain--header {
		font-size: 0.875em;
	}

	// .comment-chain--footer > .comment-chain--reply {
	// 	color: $color-black;
	// }

	.comment-chain--reply {
		// background: rgba($color-black, 0.1);
		border: 1px solid $color-gray-med;
		// color: $color-white;
		margin: $sm-spacing 0;
		overflow-wrap: break-word;
	}

	.comment-chain--reply-header {
		font-size: 0.75em;
	}

	.comment-chain--reply-body {
		padding: $xs-spacing 0;
	}

}
