@import '../config/variables';

.loading {
	background: rgba($color-black, 0.15);
	margin: $lg-spacing 0;
	padding: $sm-spacing $lg-spacing;
	text-align: center;

	.loading--message {
		color: $color-white;
		font-size: 1.5rem; //24px
		line-height: 1.25; //30px
		margin: 0;
	}
}
