@import '../config/variables';

.post-detail {
	background: $color-white;
	margin-bottom: 10px;
	padding: 5px 0;

	.post-detail--header,
	.post-detail--footer,
	.post-detail--media,
	.post-detail--main {
		padding: 5px 20px;
	}

	.post-detail--header {
		font-size: 0.875rem; //14px
	}

	.post-detail--media {

		img, video {
			display: block;
			margin: 0 auto;
			max-height: 720px;
		}
	}

	.post-detail--main {
		display: flex;
	}

	.post-detail--content {
		width: calc(100% - 160px);
	}

	.post-detail--thumbnail {
		margin-left: 20px;
		width: 140px;

		img {
			display: block;
			width: 100%;
		}
	}
}

body.dark-theme {
	.post-detail {
		background: $color-gray-dark;
	}
}
