@import '../config/variables';

.post-detail {
	background: $color-white;
	margin-bottom: 10px;
	margin-top: -#{$md-spacing};

	@media (min-width: $breakpoint-desktop-min) {
		margin-top: -#{$lg-spacing};
	}

	.post-detail--headerbar,
	.post-detail--header,
	.post-detail--footer,
	.post-detail--media,
	.post-detail--main {
		padding: 5px 20px;
	}

	.post-detail--headerbar {
		align-items: center;
		background: $color-near-black;
		display: flex;
		height: 36px;
		justify-content: flex-end;
		position: sticky;
		top: $header-height - 4;
		z-index: 9;
	}

	.post-detail--back-link {
		color: $color-white;
		display: inline-block;
		font-size: 14px;
		line-height: 18px;

		&:active, &:focus, &:hover {
			color: $color-near-white;
		}
	}

	.post-detail--header {
		font-size: 0.875rem; //14px
	}

	.post-detail--media {
		max-height: 730px; //720 + padding
		overflow-y: auto;

		img, video {
			display: block;
			margin: 0 auto;
		}
	}

	.post-detail--main {
		display: flex;
	}

	.post-detail--content {
		width: calc(100% - 160px);
	}

	.post-detail--thumbnail {
		margin-left: 20px;
		width: 140px;

		img {
			display: block;
			width: 100%;
		}
	}
}

body.dark-theme {
	.post-detail {
		background: $color-gray-dark;
	}
}
