@import '~styles/config/variables';

.posts-listing {
	margin-bottom: 10px;
}

.post-item {
	background: $color-white;
	border-radius: $border-radius-sm;
	margin-bottom: 10px;
	padding: $xs-spacing 0;
	position: relative;

	.post-item--header,
	.post-item--footer,
	.post-item--media,
	.post-item--main {
		padding: $xs-spacing 20px;
	}

	.post-item--header {
		font-size: 0.875rem; //14px
	}

	.post-item--media {

		img, video {
			display: block;
			margin: 0 auto;
			max-height: 480px;
		}
	}

	.post-item--main {
		display: flex;

		h3 > a {
			color: $color-gray-dark;
		}
	}

	.post-item--content {
		width: calc(100% - 160px);
	}

	.post-item--thumbnail {
		margin-left: 20px;
		width: 140px;

		img {
			display: block;
			width: 100%;
		}
	}

	.post-item--body {
		max-height: 240px;
		padding-right: 20px;
		overflow-y: auto;
	}
}

body.dark-theme {
	.post-item {
		background: $color-gray-dark;

		.post-item--main {

			h3 > a {
				color: $color-near-white;
			}
		}
	}
}
