@import '~styles/config/variables';

.overlay-block {
	align-items: center;
	background: $shade-dark;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	.overlay-block--message {
		color: $color-white;
		font-size: 1.5rem; //24px
		line-height: 1.25; //30px
		margin: 0;
	}
}
