@import '~styles/config/variables';
@import '~styles/config/mixins';

.post-detail {

	.post-detail--header,
	.post-detail--footer,
	.post-detail--media,
	.post-detail--main {
		padding: 5px 0;
	}

	.post-detail--header {
		font-size: 14px;
	}

	.post-detail--media {
		max-height: 730px; //720 + padding
		overflow-y: auto;

		img, video {
			display: block;
			margin: 0 auto;
		}
	}

	.post-detail--main {
		display: flex;
	}

	.post-detail--content {
		width: calc(100% - 160px);
	}

	.post-detail--thumbnail {
		margin-left: 20px;
		width: 140px;

		img {
			display: block;
			width: 100%;
		}
	}
}
