
$color-black: #000;
$color-white: #fff;
$color-near-black: #101010;
$color-near-white: #efefef;
$color-gray: #282c34;
$color-blue: #79b6f2;
$color-light-blue: #61dafb;

$font-main: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$base-spacing: 16px;
$xs-spacing: $base-spacing / 4;
$sm-spacing: $base-spacing / 2;
$md-spacing: $base-spacing;
$lg-spacing: $base-spacing * 2;
$xl-spacing: $base-spacing * 4;
$site-max-width: 1200px;
$app-header-height: 80px;
// $app-footer-height: 80px;

$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1079px;
$breakpoint-desktop-min: 1080px;
