@import '~styles/config/variables';

.sorting-bar {
	background: $color-gray-light;
	margin-bottom: 20px;
	padding: 5px 20px;
	position: sticky;
	top: 84px;
	width: 100%;
	z-index: 5;

	a {
		display: inline-block;
		font-weight: bold;
		margin-left: 10px;

		&.active {
			color: $color-white;
			text-decoration: none;
		}
	}
}
