@import '~styles/config/variables';

.loading {
	background: $shade-light;
	margin: $lg-spacing 0;
	padding: $sm-spacing $lg-spacing;
	text-align: center;

	.loading--message {
		color: $color-white;
		font-size: 24px;
		line-height: 32px;
		margin: 0;
	}
}
