@import '~styles/config/variables';

.sidebar {
	background: $color-white;
	border-radius: $border-radius-sm;
	position: sticky;
	top: 138px;

	p, ul, ol, dl, hr {
		margin: 0.5em 0;
	}

	.sidebar--content {
		padding: 10px;
	}

	.sidebar--icon-img {
		border-radius: 50%;
		display: inline-block;
		height: 28px;
		margin-right: $sm-spacing;
		text-align: center;
		vertical-align: middle;
		width: 28px;
	}

	.sidebar--description {
		overflow-wrap: break-word;
	}

	.sidebar--stats-row {
		display: flex;
		line-height: 1.25;
	}

	.sidebar--stats-col {
		width: 50%;
	}

	.sidebar--created {

		.icon {
			height: 16px;
			vertical-align: middle;
			width: 16px;
		}
	}
}

//exends .sidebar
.user-sidebar {

	.user-sidebar--header {
		background: $shade-light;
		border-radius: $border-radius-sm $border-radius-sm 0 0;
		padding: 20px 10px 0;
		height: 96px;
		margin-bottom: 10px;
	}

	.user-sidebar--icon-img {
		border: 4px solid $color-white;
		border-radius: 6px;
		display: block;
		height: 88px;
		width: 88px;
	}
}

body.dark-theme {
	.sidebar {
		background: $color-gray-dark;
	}
}
