//
// Responsive Classes
// -----------------------------------------------------


.show-ios-block,
.show-ios-inline,
.show-ios-inline-block,
.show-android-block,
.show-android-inline,
.show-android-inline-block,
.show-mobile-block,
.show-mobile-inline,
.show-mobile-inline-block,
.show-tablet-block,
.show-tablet-inline,
.show-tablet-inline-block,
.show-desktop-block,
.show-desktop-inline,
.show-desktop-inline-block {
	@include hidden;
}
// iOS
html.ios {
	.hide-ios {@include hidden;}
	.show-ios-block {@include visible(block);}
	.show-ios-inline {@include visible(inline);}
	.show-ios-inline-block {@include visible(inline-block);}
}
// Android
html.android {
	.hide-android {@include hidden;}
	.show-android-block {@include visible(block);}
	.show-android-inline {@include visible(inline);}
	.show-android-inline-block {@include visible(inline-block);}
}
// Mobile
@media (max-width: $breakpoint-mobile-max) {
	.hide-mobile {@include hidden;}
	.show-mobile-block {@include visible(block);}
	.show-mobile-inline {@include visible(inline);}
	.show-mobile-inline-block {@include visible(inline-block);}
	//overriding display for mobile only, NOT hiding from tablet or desktop.
	.mobile-only-block {
		display: block;
	}
	.mobile-only-inline {
		display: inline;
	}
	.mobile-only-inline-block {
		display: inline-block;
	}
}
// Tablet
@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
	.hide-tablet {@include hidden;}
	.show-tablet-block {@include visible(block);}
	.show-tablet-inline {@include visible(inline);}
	.show-tablet-inline-block {@include visible(inline-block);}
}
// Desktop
@media (min-width: $breakpoint-desktop-min) {
	.hide-desktop {@include hidden;}
	.show-desktop-block {@include visible(block);}
	.show-desktop-inline {@include visible(inline);}
	.show-desktop-inline-block {@include visible(inline-block);}
}
